<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <!-- add new tab in system configuration section -->
        <tab id="dispatch" translate="label" sortOrder="100">
            <label>Dispatch</label>
        </tab>
        <!-- create section -->
        <section id="sales_channel" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SalesChannel</label>
            <!-- Assign section to tab -->
            <tab>dispatch</tab>
            <resource>Dispatch_SalesChannel::config</resource>
            <!-- create group for fields in section -->
            <group id="extension_info" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label></label>
                <frontend_model>Dispatch\SalesChannel\Block\Adminhtml\System\Config\Fieldset\Extension</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dispatch API Key</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="account_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dispatch Account Id</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sales_channel_test_connect" translate="button_label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Test Connection</button_label>
                    <frontend_model>Dispatch\SalesChannel\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="catalog_id" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category</label>
                    <source_model>Dispatch\SalesChannel\Model\Config\Source\Categorylist</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="payment_method" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preferred Payment Method</label>
                    <source_model>Dispatch\SalesChannel\Model\Config\Source\PaymentMethods</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="payment_method_client_key" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Method Publishable/Client Key</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sales_channel_sync_setting" translate="button_label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Sync Settings</button_label>
                    <frontend_model>Dispatch\SalesChannel\Block\Adminhtml\System\Config\SyncSettings</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Sync your settings with Dispatch.</comment>
                </field>
            </group>
        </section>
    </system>
</config>